@import "tailwindcss";

@theme {
    --color-primary-50: #121921;
    --color-primary-100: #1F262E;
    --color-primary-200: #3D4D5C;

    --color-secondary-50: #4294D1;
}

:root {
    font-family: 'Inter', sans-serif;
}

/* Custom Animations */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.container{
    max-width: 1440px;

}
.tf-editor-container {
    margin: 0px !important;
    border-radius: 12px;
}
.tf-editor-area,.tf-toolbar{
    border-radius: 12px;
}
/* Firefox */
.my-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(63 63 70) rgb(24 24 27); /* thumb, track */
  }
  
  /* Chromium/WebKit */
  .my-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .my-scroll::-webkit-scrollbar-thumb {
    background: rgb(63 63 70);      /* zinc-700 */
    border-radius: 9999px;
  }
  .my-scroll::-webkit-scrollbar-track {
    background: rgb(24 24 27);      /* zinc-900 */
  }
  